/*------------------- base styles ----------------*/
.lock{
    overflow: hidden;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}
.disable{
    display: none;
}

.enable{
    display: block;
}


/* ------------------Header Styles --------------------*/
.header {
    background: #435476;
}

.header__container {
    max-width: 100.5rem;
    margin: 0 auto;
    padding: 1.5rem 0.9375rem;
    border-bottom: 0.0625rem solid #fff;
    position: relative;
}

.header__vl-1 {
    border-left: 0.125rem solid #fff;
    height: 1rem;
    position: absolute;
    left: 40%;
    bottom: 0;
}

.header__vl-2 {
    border-left: 0.125rem solid #fff;
    height: 1rem;
    position: absolute;
    right: 43%;
    bottom: 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    padding: 0 1.5625rem;
}

.header__logo-text {
    color: #FFF;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-decoration: none;
}

.header__logo-text:hover {
    text-decoration: underline 0.125rem;
}

/*Burger Styles */
.burger__menu {
    display: flex;
    height: 2.5rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    padding: 0.3125rem;
    min-width: 2.5rem;
    margin-right: 3.125rem;
    transition: 1s;
}

.burger__menu:hover {
    transition: 1s;
    background-color: #4a98e7;

}

.burger__line {
    width: 1.1875rem;
    height: 0.125rem;
    background-color: black;
    margin: 0.1875rem 0;
}

/* Menu Styles */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.1875rem;
}

.menu__item {}

.menu__link {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline 0.125rem;
}

.menu__support {
    flex-wrap: wrap;
}

.menu__support-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.menu__support-list li:nth-child(2) {
    margin-right: 6.75rem;
}

.menu__support-item {}

.menu__support-link {}

.phone {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
}

.phone:hover {
    text-decoration: underline 0.125rem;
}

.phone-icon {
    display: none;
}

/*------------- Main Section --------------*/
.main {
    background-color: #435476;
    padding-top: 6.75rem;
    padding-bottom: 2.8125rem;
}

.main__container {
    max-width: 100.5rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.main__wrapper {}

.main__collection {
    display: flex;
    padding: 0 6.25rem;
    position: relative;
    gap: 1.875rem;
}

.main__collection-block {}

.main__collection-info {}

/* Block elements */
.block {
    position: absolute;
    top: 11.625rem;
    left: 0;
    max-width: 27.5rem;
}

.block__title {
    color: #FFF;
    text-align: center;
    font-family: 'TharlonSans', sans-serif;
    font-size: 3.6875rem;
    letter-spacing: 0.1844rem;
    margin-bottom: 2.4375rem;
}

.block__line {
    background-color: #fff;
    width: 3.875rem;
    height: 0.125rem;
    margin-bottom: 0.625rem;
}

.block__bottom {
    display: flex;
    align-items: center;

}

.block__bottom-link {
    color: #FFF;
    text-align: center;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.625rem;
    letter-spacing: 0.0813rem;
    text-decoration: none;
}

.block__bottom-link:hover {
    text-decoration: underline 2px;
}

.block__bottom-arrow {}

.bottom__pages-number {
    cursor: pointer;
}

.bottom__pages-number:hover {
    color: #1A1A1A;
}

.bottom__arrow-left {
    cursor: pointer;
}

.bottom__arrow-right {
    cursor: pointer;
}

.block__image {}

/* Info elements */
.info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.info__image {}

.info__text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 20.625rem;
}

.info__title {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.8125rem;


}

.info__settings {
    color: rgba(255, 255, 255, 0.60);
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.125rem;
}

.info__settings p {
    margin-bottom: 0.3125rem;
}

.info__dimension {}

.info__color {}

.info__material {}

.info__price {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.info__price-current {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.8125rem;

}

.info__price-recent {
    color: rgba(255, 255, 255, 0.50);
    font-family: 'TharlonSans', sans-serif;
    text-decoration: line-through;
    font-size: 1.375rem;

}

/* Bottom elements */
.main__bottom {
    margin-top: 5.3125rem;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.bottom__pages {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.bottom__pages-number {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.625rem;
    letter-spacing: 0.0813rem;
}

.active {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.875rem;
    letter-spacing: 0.0938rem;
}



.bottom__arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}

.bottom__arrow-left {}

.bottom__arrow-right {}



/*------------------ Collection Section ----------------*/
.collection {
    margin-top: 2.75rem;

}

.collection__body {
    text-align: center;
}

.collection__title-small {
    margin-bottom: 0.5rem;
    color: #1A1A1A;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.25rem;
    line-height: 160%;
    text-transform: uppercase;

}

.collection__title {
    color: #1A1A1A;
    font-family: 'TharlonSans', sans-serif;
    font-size: 3rem;
    line-height: 125%;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.collection__slider {}

.collection__slider-slide {}

.collection__slide-image {}

.collection__items-container {
    max-width: 100.5rem;
    margin-top: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.collection__items-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 0.9375rem;
}


.collection__item {}

.collection__item-title {
    margin-bottom: 0.625rem;
    color: #1A1A1A;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.24rem;
    text-transform: uppercase;
}

.collection__item-link {
    display: inline-block;
    color: #1A1A1A;
    font-family: 'TharlonSans', sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 0.25rem;
    border-bottom: 0.0625rem solid #1A1A1A;

}

.collection__item-link:hover {
    color: #1616c0;
    border-bottom: 0.0625rem solid #1616c0;
}



/*----------- Items Section ----------------*/
.items {
    margin-top: 5.75rem;
}

.items__container {
    max-width: 100.5rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.items__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items__headline {
    text-align: center;
}

.items__title-small {
    color: #1A1A1A;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.25rem;
    line-height: 160%;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.items__title {
    color: #1A1A1A;
    font-family: 'TharlonSans', sans-serif;
    font-size: 3rem;
    line-height: 125%;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.items__headline-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.items__cards {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    display: grid;

}

.items__card {}

.button {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    color: #1A1A1A;
    font-family: 'TharlonSans', sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: #fff;
    border: 1px solid #1A1A1A;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background-color: #e8cdcd;
}

.button__horizontal-line {
    width: 1.25rem;
    height: 0.0625rem;
    background: #1A1A1A;
    margin-left: 0.625rem;
}

.card {
    max-width: 23.5rem;
}

.card__image {
    position: relative;
    cursor: pointer;
}

.card__image:hover {
    opacity: 0.5;
}

.card__horizontal-line {
    width: 1.4375rem;
    height: 0.0625rem;
    background: #fff;
    margin-left: 0.625rem;
}

.card__note {
    max-width: 23.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    padding: 0.25rem 0.5rem;
    background-color: #435476;
    position: absolute;
    left: 0;
    bottom: 1.25rem;
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.card__info {
    max-width: 23.5rem;
}

.card__title {
    color: #999;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1rem;
    line-height: 175%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.card__name {
    color: #1A1A1A;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.24rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.card__price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__price-current {
    color: #E20000;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.card__price-recent {
    color: #999;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1rem;
    line-height: 175%;
    text-decoration: line-through;
}

.card__cursor {
    position: absolute;
    left: 50%;
    bottom: 30%;
    width: 1.5rem;
    height: 1.5rem;
}

.card__options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card__options-price {
    margin-right: 0.5rem;
    color: #E20000;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;

}

.card__options-add {
    margin-right: 0.8125rem;
    color: #333;
    font-family: 'TharlonSans', sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 0.25rem;
    border-bottom: 0.0625rem solid #1A1A1A;
    text-decoration: none;
}

.card__options-quickview {
    margin-right: 1rem;
    color: #333;
    font-family: 'TharlonSans', sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 0.25rem;
    text-decoration: none;
    border-bottom: 0.0625rem solid #1A1A1A;

}

.card__options-add:hover {
    color: #1616c0;
    border-bottom: 0.0625rem solid #1616c0;
}

.card__options-quickview:hover {
    color: #1616c0;
    border-bottom: 0.0625rem solid #1616c0;
}

.card__options-arrows {
    margin-right: 1rem;
    cursor: pointer;
}

.card__oprions-favorite {
    margin-right: 0.125rem;
    cursor: pointer;
}

.recent {
    color: #999;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1rem;
    line-height: 175%;
    text-decoration: line-through;
}

/*----------- Subscribe -----------*/
.subscribe {
    margin-top: 7.5625rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
    background: #435476;
}

.subscribe__container {
    max-width: 100.5rem;
    margin: 0 auto;
    padding: 3rem 0.9375rem 4.25rem;
}

.subscribe__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.subscribe__text {}

.subscribe__title {
    color: #FFF;

    font-family: 'TharlonSans', sans-serif;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.subscribe__subtitle {
    color: #E5E5E5;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.subscribe__email {
    width: 50%;

}

.subscribe__input {
    width: 100%;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 0.75rem;
    outline: none;
    color: #E5E5E5;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    background: url(../assets/images/icons/icon-send.svg) no-repeat right;

    cursor: pointer;
    background-size: 1.5rem 1.5rem;
}

.subscribe__input::placeholder {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1rem;
    line-height: 175%;
}

.subscibe {}

.subscibe__input-image {}


/*----------- Footer ------------*/
.footer {
    background-color: #435476;

}

.footer__container {
    max-width: 100.5rem;
    margin: 0 auto;
    padding: 0 16px;
}

.footer__wrapper {}

.footer__menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer__menu-col {
    max-width: 20rem;
}

.footer__bottom {
    margin-top: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.30);
}

.footer__bottom-container {
    max-width: 100.5rem;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom-copyrights {}

.footer__copyrights {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1rem;
    line-height: 175%;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.footer__links-text {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1rem;
    line-height: 175%;
}

.footer__links-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.footer__icon-facebook {
    cursor: pointer;
}

.footer__icon-twitter {
    cursor: pointer;
}

.footer__icon-instagram {
    cursor: pointer;
}

.menu-col {}

.menu-col__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.menu-col__mainTitle {
    color: #FFF;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2.5rem;
    line-height: normal;
    letter-spacing: 0.2rem;
}

.menu-col__mainTitle:hover {
    text-decoration: underline;
}

.menu-col__title {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.24rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;

}

.menu-col__title:hover {
    text-decoration: underline;
}

.menu-col__text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.menu-col__item-link {
    font-family: 'TharlonSans', sans-serif;
    line-height: 175%;
    color: #FFF;
    text-decoration: none;
}

.menu-col__item-link:hover {
    text-decoration: underline;
}

.menu-col__item-icon {}

.copyrights {}

.icons {}
/*--------- Burger Block ---------*/
.burger__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEBED;
    text-align: center;
    padding: 1.5625rem 0.875rem;
}

.burger__title {
    color: #3A3A3A;
    text-align: center;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.875rem;
    letter-spacing: 0.1875rem;
}

.burger__side {
    height: 98%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
}

.burger__side .burger__close {
    position: absolute;
    top: 0;
    right: 1.5625rem;
    font-size: 2.25rem;
    margin-left: 3.125rem;
    text-decoration: none;
}

.burger__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.burger__list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.burger__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.0625rem solid #EAEBED;
    padding: 1.25rem 0;
}

.burger__item:last-child {
    margin-bottom: 2.875rem;
}

.burger__item:hover {
    background-color: #f2f1f1;
}

.burger__item span {
    cursor: pointer;
    display: block;
    margin-right: 1.25rem;

}

.not-active {
    width: 1rem;
    height: 1rem;
    border-top: 0.0625rem solid #A1A1A1;
    border-right: 0.0625rem solid #A1A1A1;
    margin-right: 3.75rem;
    transform: rotate(135deg);
}

.burger__item-link {
    color: #3A3A3A;
    text-align: center;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: capitalize;
    text-decoration: none;
    margin-left: 1.25rem;
}

.burger__contacts {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 1.5625rem;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.burger__contacts-text {
    color: #3A3A3A;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 175%;
    letter-spacing: 0.1rem;
}

.burger__contacts-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.burger__icon-facebook {}

.burger__icon-twitter {}

.burger__icon-instagram {}

.burger__sale {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5625rem;
    background-color: #435476;
    height: 12.5rem;
    border: 0.125rem dashed #A1A1A1;
}

.burger__sale-textTime {
    position: absolute;
    top: 0.9375rem;
    left: 1.4375rem;
    color: #FFF;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 7.1875rem;
    letter-spacing: 0.7188rem;
    text-transform: capitalize;
    z-index: 5;
}

.burger__sale-textSale {
    top: 3rem;
    right: 4rem;
    position: absolute;
    color: #98A9CA;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 6.25rem;
    letter-spacing: 0.0625rem;
    text-transform: capitalize;
    z-index: 4;
}

.active-link {
    width: 1rem;
    height: 1rem;
    border-top: 0.0625rem solid #2E2129;
    border-right: 0.0625rem solid #2E2129;
    margin-right: 60px;
    transform: rotate(135deg);
    display: block;
    margin-right: 1.25rem;
}

.burger__sale-off {
    position: absolute;
    top: 1rem;
    right: 2.8125rem;
    width: 89px;
    height: 89px;
    border-radius: 50%;
    background-color: #fff;
}

.sale {}

.sale__off {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sale__off-col1 {}

.sale__off-text {
    color: #435476;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    text-transform: capitalize;
}

.sale__off-textNum {
    color: #435476;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2.25rem;
    letter-spacing: 0.0225rem;
    text-transform: capitalize;
}

.sale__off-col2 {}


/*----------- Media Queries ------------------*/

/* Media Header */
@media (max-width:81.5rem) {
    .menu__support-list li:nth-child(2) {
        margin-right: 0rem;
    }

    .header__vl-1 {
        display: none;
    }

    .header__vl-2 {
        display: none;
    }
}

@media (max-width:81.25rem) {
    .menu__list {
        flex-wrap: wrap;
    }
}

@media (max-width:74.375rem) {
    .menu__support-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:37.875rem) {
    .menu__support-list {
        gap: 0;
    }

    .menu__list {
        gap: 1rem
    }

    .burger__menu {
        margin-right: 1rem;
    }
}

@media(max-width:36.4375rem) {
    .phone {
        display: none;
    }

    .phone-icon {
        display: block;
    }
}

@media (max-width:29.4375rem) {
    .header__wrapper {
        flex-direction: column;
    }

    .header__logo {
        padding: 0 0.625rem;
    }
}


/* Media main section */
@media (max-width:62.5rem) {
    .main {
        background-color: #435476;
        padding-top: 2.75rem;
        padding-bottom: 2.8125rem;
    }

    .block {
        top: 5.625rem;
    }

    .block__title {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .block__bottom-link {
        font-size: 1.2rem;
    }
}

@media (max-width:56.25rem) {
    .main__collection {
        flex-direction: column;
        padding: 0 3rem;
    }

    .main__bottom {
        margin-top: 2.5rem;
    }

}

@media (max-width:25rem) {
    .main__collection {
        flex-direction: column;
        padding: 0 1rem;
    }

    .block {
        top: 2.625rem;
    }

    .block__title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .block__bottom-link {
        font-size: 1rem;
    }

    .bottom__pages-number {
        font-size: 1.2em;
    }

    .active {
        font-size: 1.4rem;
    }

    .bottom__arrows {

        gap: 0.6rem;
    }
}

/* Media collection section*/

@media (max-width:56.25rem) {
    .collection__slider {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.25rem;
        grid-row-gap: 1.25rem;
    }
}

@media (max-width:42.5rem) {
    .collection__title-small {
        font-size: 1rem;
    }

    .collection__title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .collection__items-info {
        justify-content: center;
    }
}

/* Media Items Section */
@media (max-width:69.375rem) {
    .items__cards {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        display: grid;

    }

}

@media (max-width:51.875rem) {
    .items__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
        display: grid;
    }
}


@media (max-width:36.25rem) {
    .items__cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        display: grid;

    }
}

@media (max-width:27.5rem) {
    .card__title {

        font-size: 1rem;

        margin-bottom: 0.3rem;
    }

    .card__name {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
    }
}

/*Media subscribe section*/

@media (max-width:50rem) {
    .subscribe {
        margin-top: 3.5625rem;
    }

    .subscribe__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .subscribe__email {
        width: 100%;
    }
}

@media (max-width:28.125rem) {
    .subscribe__title {
        font-size: 1.5rem;
    }

    .subscribe__subtitle {
        font-size: 1rem;
    }
}

/* Media Footer Section */

@media (max-width:50.1875rem) {
    .footer__menu {
        justify-content: center;
    }
}

@media (max-width:34.375rem) {
    .footer__menu {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }

    .footer__menu-col {
        justify-content: center;
        max-width: 20rem;
    }

    .menu-col__mainTitle {
        justify-content: center;
    }

    .menu-col__title {
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    .menu-col__text {
        justify-content: center;
        margin-bottom: 0.5 rem;
    }

    .footer__bottom-container {
        justify-content: center;
        gap: 2rem;
    }

}

@media (max-width:25.625rem) {
    .footer__bottom-container {
        flex-direction: column;
        gap: 1rem;
    }
}

/*--- Media burger ----*/

@media (max-width:31.25rem) {
    .burger__sale {
        width: 100%;
        margin: 0;
    }

    .burger__item:last-child {
        margin-bottom: 2.875rem;
    }

    .burger__sale-textTime {
        position: absolute;
        top: 4rem;
        left: 1.4375rem;
        color: #FFF;
        text-align: center;
        font-family: 'Tenor Sans', sans-serif;
        font-size: 5.1875rem;
        letter-spacing: 0.7188rem;
        text-transform: capitalize;
        z-index: 5;
    }

    .burger__sale-textSale {
        top: 6rem;
        right: 3rem;
        position: absolute;
        color: #98A9CA;
        text-align: center;
        font-family: 'Tenor Sans', sans-serif;
        font-size: 4.25rem;
    }

    .burger__sale-off {
        right: 1rem;
        top: 3rem;
    }
}