/*------------------- base styles ----------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

/* ------------------Header Styles --------------------*/
.header {
    background: #435476;
}

.header__container {
    max-width: 100.5rem;
    margin: 0 auto;
    padding: 1.5rem 0.9375rem;
    border-bottom: 0.0625rem solid #fff;
    position: relative;
}

.header__vl-1 {
    border-left: 0.125rem solid #fff;
    height: 1rem;
    position: absolute;
    left: 40%;
    bottom: 0;
}

.header__vl-2 {
    border-left: 0.125rem solid #fff;
    height: 1rem;
    position: absolute;
    right: 43%;
    bottom: 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    padding: 0 1.5625rem;
}

.header__logo-text {
    color: #FFF;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-decoration: none;
}

.header__logo-text:hover {
    text-decoration: underline 0.125rem;
}

/*Burger Styles */
.burger__menu {
    display: flex;
    height: 2.5rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    padding: 0.3125rem;
    min-width: 2.5rem;
    margin-right: 3.125rem;
    transition: 1s;
}

.burger__menu:hover {
    transition: 1s;
    background-color: #4a98e7;

}

.burger__line {
    width: 1.1875rem;
    height: 0.125rem;
    background-color: black;
    margin: 0.1875rem 0;
}

/* Menu Styles */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.1875rem;
}

.menu__item {}

.menu__link {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline 0.125rem;
}

.menu__support {}

.menu__support-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.menu__support-list li:nth-child(2) {
    margin-right: 6.75rem;
}

.menu__support-item {}

.menu__support-link {}

.phone {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
}

.phone:hover {
    text-decoration: underline 0.125rem;
}

.phone-icon {
    display: none;
}

/* Media Header */
@media (max-width:81.5rem) {
    .menu__support-list li:nth-child(2) {
        margin-right: 0rem;
    }

    .header__vl-1 {
        display: none;
    }

    .header__vl-2 {
        display: none;
    }
}

@media (max-width:81.25rem) {
    .menu__list {
        flex-wrap: wrap;
    }
}

@media (max-width:74.375rem) {
    .menu__support-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:37.875rem) {
    .menu__support-list {
        gap: 0;
    }

    .menu__list {
        gap: 1rem
    }

    .burger__menu {
        margin-right: 1rem;
    }
}

@media(max-width:36.4375rem) {
    .phone {
        display: none;
    }

    .phone-icon {
        display: block;
    }
}

@media (max-width:29.4375rem) {
    .header__wrapper {
        flex-direction: column;
    }

    .header__logo {
        padding: 0 0.625rem;
    }
}

/*------------- Main Section --------------*/
.main {
    background-color: #435476;
    padding-top: 6.75rem;
    padding-bottom: 2.8125rem;
}

.main__container {
    max-width: 100.5rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.main__wrapper {}

.main__collection {
    display: flex;
    padding: 0 6.25rem;
    position: relative;
    gap: 1.875rem;
}

.main__collection-block {}

.main__collection-info {}

/* Block elements */
.block {
    position: absolute;
    top: 11.625rem;
    left: 0;
}

.block__title {
    color: #FFF;
    text-align: center;
    font-family: 'TharlonSans', sans-serif;
    font-size: 3.6875rem;
    letter-spacing: 0.1844rem;
    margin-bottom: 2.4375rem;
}

.block__line {
    background-color: #fff;
    width: 3.875rem;
    height: 0.125rem;
    margin-bottom: 0.625rem;
}

.block__bottom {
    display: flex;
    align-items: center;

}

.block__bottom-link {
    color: #FFF;
    text-align: center;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.625rem;
    letter-spacing: 0.0813rem;
    text-decoration: none;
}

.block__bottom-link:hover {
    text-decoration: underline 2px;
}

.block__bottom-arrow {}

.block__image {}

/* Info elements */
.info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.info__image {}

.info__text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.info__title {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.8125rem;

}

.info__settings {
    color: rgba(255, 255, 255, 0.60);
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.125rem;
}
.info__settings p{
    margin-bottom: 0.3125rem;
}
.info__dimension {}

.info__color {}

.info__material {}

.info__price {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.info__price-current {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.8125rem;

}

.info__price-recent {
    color: rgba(255, 255, 255, 0.50);
    font-family: 'TharlonSans', sans-serif;
    text-decoration: line-through;
    font-size: 1.375rem;

}

/* Bottom elements */
.main__bottom {
    margin-top: 5.3125rem;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.bottom__pages {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.bottom__pages-number {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.625rem;
    letter-spacing: 0.0813rem;
}

.active {
    color: #FFF;
    font-family: 'TharlonSans', sans-serif;
    font-size: 1.875rem;
    letter-spacing: 0.0938rem;
}



.bottom__arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}

.bottom__arrow-left {}

.bottom__arrow-right {}

/* Media */
@media (max-width:62.5rem) {
    .main {
        background-color: #435476;
        padding-top: 2.75rem;
        padding-bottom: 2.8125rem;
    }

    .block {
        top: 5.625rem;
    }

    .block__title {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .block__bottom-link {
        font-size: 1.2rem;
    }
}

@media (max-width:56.25rem) {
    .main__collection {
        flex-direction: column;
        padding: 0 3rem;
    }

    .main__bottom {
        margin-top: 2.5rem;
    }

}

@media (max-width:25rem) {
    .main__collection {
        flex-direction: column;
        padding: 0 1rem;
    }

    .block {
        top: 2.625rem;
    }

    .block__title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .block__bottom-link {
        font-size: 1rem;
    }

    .bottom__pages-number {
        font-size: 1.2em;
    }

    .active {
        font-size: 1.4rem;
    }

    .bottom__arrows {

        gap: 0.6rem;
    }
}